:host {

  .main-page {
    display: flex;

    .navigation {
      width: 100%;
      max-width: 35%;

      .link {
        display: block;
        padding: 10px 25px;

        &.active {
          color: #fff;
          background-color: tomato;
        }
      }
    }

    .examples {
      width: 100%;
    }
  }


}
