@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  .block {
    height: 200px;
    padding: 10px;
    width: 200px;
    color: #fff;
    font-size: 2rem;

    @include center();

    &.coral {
      background-color: coral;
    }

    &.tomato {
      background-color: tomato;
    }


  }
}
